.ToolbarMenu {
  background-color: var(--main-color);
  box-sizing: border-box;
  display: block;
  padding: 0 8px;
  z-index: 2;

  position: absolute;
  right: 0;
  top: 48px;
}

.ToolbarMenu__options {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.ToolbarMenu__options__option {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-top: 20px;
}

.ToolbarMenu__options__option:first-child {
  margin-top: 10px;
}

.ToolbarMenu__options__option:last-child {
  margin-bottom: 10px;
}

.ToolbarMenu__options__option__image {
  max-height: 20px;
  max-width: 20px;
}
